
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(0, 0, 0, 0.925);
}
.main-div{
    width: 100%;
    margin-top: 50px;
    display: flex;
}
.color{
    width: 20%;
    height: 500px;
    border: 1px solid  wheat;
    border-radius: 5px;
}
#platlate-5{
    display: block;
}
.colorcode{
    text-align: center;
    margin-top: 25%;
    font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
   font-size: 1.8rem;
   cursor: pointer;
}
.colorcode-5 {
    text-align: center;
    margin-top: 25%;
    font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
   font-size: 1.8rem;
   cursor: pointer;
   display: block;
}
.massage-copy{
    text-align: center;
    font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
    margin-top: 10px;
}
.button{
    width: 80%;
    padding: 15px 0px 15px 0px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.8rem;
    background-color: #009b00;
    border: transparent;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 100px;
}




@media (max-width: 576px) {
    .colorcode{
        font-size: 1.1rem;
    } 
    #platlate-5{
        display: none;
    }
    .color{
        width: 25%;
        height: 300px;
    }
    .massage-copy{
        font-size: 0.70rem;
    }
    .button{
        padding: 7px 0px 7px 0px;
        font-size: 1.2rem;
    }
}
